<!doctype html>
<html>
<head>
    <script src="js/angular.js"></script>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/bootstrap-theme.css" rel="stylesheet"/>
</head>
<body ng-app class="panel-body">
<div>
    <div class="panel-info panel">
        <label class="bg-primary label">Name:</label>
        <input class="form-control" type="text" ng-model="yourName" placeholder="Enter a name here">
        <hr>
        <h1>Hello {{yourName}}!</h1>
    </div>
</div>
</body>
</html>
